<main> 
    <img src="https://media.ford.com/content/fordmedia/feu/en/news/2023/08/17/First-Ever-Mustang-GTD/jcr:content/image.img.881.495.jpg/1692340089135.jpg" 
    height="400"/>
    <br/> 

    <div> 
        <h2> Vishal Jain is a Software Devloper at FORD Motor Company<sup> TM </sup> </h2>
        <h4> He is working here from past 1 and half year including internship in Ford.
            <br/>
            This webpage is build by him while he was learning FrontEnd Eng in Ford's OG Team.
        </h4>
    </div>
    <hr>
    <div>
        <h4> Any Questions? </h4>
        <form action = test.java>
            <textarea name = "Feedback" id="1" placeholder="Write down to us." rows="3" 
            style = "width: 500px"></textarea>
        </form>
    </div>
</main>

<hr/>
<footer> 
    <h5> Home Page </h5>
    <small> Contact me at vishaljain.ece@gmail.com </small>
</footer>