<!-- src/app/hero/hero.component.html -->
<section id="hero" class="presentacion" >
    <div class="descripcion">
      <!-- Columna de texto -->
        <h1 class="hero-title">Hola, Soy Wilfred Tovar.</h1>
        <p class="hero-subtitle">
          Soy un desarrollador Backend apasionado por la creación de aplicaciones escalables y eficientes,
          especializado en Java con Spring Boot debido a su robustez y capacidad para desarrollar microservicios
          y APIs empresariales. Me interesa profundizar en arquitecturas reactivas, optimización del rendimiento
          y seguridad en aplicaciones backend. Actualmente, trabajo en Indelpa S.A.S., donde desarrollo software
          empresarial para la optimización de procesos, incluyendo CRM, cuadros de costeo y cotizaciones, gestión
          de inventarios y medición de tiempos de trabajo. Siempre estoy explorando nuevas tecnologías para mejorar
          la eficiencia, seguridad y escalabilidad de las aplicaciones.
        </p>
    </div>
    <img src="assets/yoportafolio.gif" alt="Wilfred Tovar" class="hero-avatar" />
  </section>
  