/* src/app/hero/hero.component.scss */

.presentacion {
  display: flex;
  max-width: 65rem;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  margin: 4rem auto;
}


.presentacion .descripcion {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  gap: 2rem;
}


.hero-title {
  text-wrap: balance;
  overflow-wrap: break-word;
}

.hero-avatar {
  margin-right: 2rem;
}

