<!-- src/app/navbar/navbar.component.html -->
<div class="cabezera-contenedor">
  <div class="contenedor-header">
    <p-toolbar class="header"
      [style]="{ 'background': 'transparent', 'border': 'none', 'width': '100%' }">
      <div class="p-toolbar-group-left p-ml-4">
        <span class="navbar-logo">Tovardev</span>
      </div>
      <div class="p-toolbar-group-right p-mr-4">
        <button *ngFor="let item of items" pButton type="button" class="p-button-text p-button-lg p-mx-2 navbar-button"
          (click)="item.command()">
          {{ item.label }}
        </button>
      </div>
    </p-toolbar>
  </div>
</div>