<main>
    <div id = "Calculator-box">
        <div>
            <input type = "text" class = "screen" id="my-input" [(ngModel)]="inputValue" />
        </div>
        <div id = "Keypad">
            <div> 
                <button class = "button" (click)="enteredData('AC')">AC</button>
                <button class = "button" (click)="enteredData('(')">(</button>
                <button class = "button" (click)="enteredData(')')">)</button>
                <button class = "button" (click)="enteredData('*')">*</button>
                <button class = "button" (click)="enteredData('DEL')">DEL</button>
            </div>
            <div> 
                <button class = "button" (click)="enteredData('%')">%</button>
                <button class = "button" (click)="enteredData('7')">7</button>
                <button class = "button" (click)="enteredData('8')">8</button>
                <button class = "button" (click)="enteredData('9')">9</button>
                <button class = "button" (click)="enteredData('/')">/</button>
            </div>
            <div> 
                <button class = "button" (click)="enteredData('square')" style = "font-size: 20px;">x<sup>2</sup></button>
                <button class = "button" (click)="enteredData('4')">4</button>
                <button class = "button" (click)="enteredData('5')">5</button>
                <button class = "button" (click)="enteredData('6')">6</button>
                <button class = "button" (click)="enteredData('-')">-</button>
            </div>
            <div> 
                <button class = "button" (click)="enteredData('1/x')">1/x</button>
                <button class = "button" (click)="enteredData('1')">1</button>
                <button class = "button" (click)="enteredData('2')">2</button>
                <button class = "button" (click)="enteredData('3')">3</button>
                <button class = "button" (click)="enteredData('+')">+</button>
            </div>
            <div> 
                <button class = "button" (click)="enteredData('root')" style = "font-size: 20px;"><sup>2</sup>&#8730;x</button>
                <button class = "button" (click)="enteredData('.')">.</button>
                <button class = "button" (click)="enteredData('0')">0</button>
                <button class = "button" (click)="enteredData('+/-')">+/- </button>
                <button class = "button" (click)="enteredData('=')" style = "background-color: rgb(199, 6, 199);">=</button>
            </div>
        </div>
    </div>
</main>

<script src = "/Sub Pages/Calculator/Calculator.js"></script>