<header>
    <div> 
        <table>
            <tr>
                <td style = "width: auto; padding-left: 2%;">
                    <a href = "/index.html"> <img src = "../assets/Login_icon.png" height="50"></a>
                </td>
                <td style = "width: 84%;">
                    <a href="/index.html" id="header"> Vishal's Portfolio </a>
                </td>
                <td style = "text-align: right; width: auto;">
                    <a id = "Login_button" (click)="onLoginClick()"> Log in </a>
                </td>
            </tr>
        </table>
    </div>
</header>

<div class="card">
    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
</div>

<!-- <div>
        <table style = "width: 40%;">
            <th> <a href="/Sub Pages/EducationPage/Education.html" > Education </a> <br/> </th>
            <th> <a href="/Sub Pages/ExperiencePage/Experience.html" title = "Exp"> Experience  </a> <br/> </th>
            <th> <a href="/Sub Pages/Calculator/Calculator.html" title = "Other Projects"> Calculator  </a> <br/> </th>
        </table>
</div> -->