<!-- src/app/proyectos/proyectos.component.html -->
<section id="proyectos" class="proyectos-container p-px-4 p-py-8">
    <h2 class="section-title">Proyectos</h2>
    <div class="p-d-flex p-flex-wrap p-jc-center p-ai-stretch">
      <div
        *ngFor="let p of proyectos"
        class="p-col-12 p-md-4 p-p-2"
      >
        <p-card [header]="p.titulo" styleClass="card-proyecto" [subheader]="''">
          <ng-template pTemplate="header">
            <img
              [src]="p.imagen"
              alt="{{ p.titulo }}"
              class="proyecto-imagen"
            />
          </ng-template>
          <ng-template pTemplate="content">
            <p>{{ p.descripcion }}</p>
          </ng-template>
          <ng-template pTemplate="footer">
            <button
              *ngIf="p.enlace"
              pButton
              label="Ver más"
              icon="pi pi-external-link"
              [routerLink]="p.enlace"
            ></button>
          </ng-template>
        </p-card>
      </div>
    </div>
  </section>
  