/* src/app/shared/footer/footer.component.scss */

.footer-container {
    background-color: #0d0f12;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .footer-container a {
    color: #e91e63;
    transition: color 0.2s;
  }
  
  .footer-container a:hover {
    color: #ffffff;
  }
  