<!-- src/app/shared/footer/footer.component.html -->
<footer class="footer-container p-py-4">
    <div class="p-d-flex p-flex-column p-ai-center">
      <span>© {{ currentYear }} Wilfred Tovar. Todos los derechos reservados.</span>
      <div class="p-mt-2">
        <a href="https://github.com/tu-usuario" target="_blank" rel="noopener noreferrer">
          <i class="pi pi-github p-mr-2"></i>GitHub
        </a>
        <span class="p-mx-2">|</span>
        <a href="https://linkedin.com/in/tu-usuario" target="_blank" rel="noopener noreferrer">
          <i class="pi pi-linkedin"></i> LinkedIn
        </a>
      </div>
    </div>
  </footer>
  